/*Temp Preset */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root {
    --body-color: #0C1724;
    --body-color2: #F8F9FA;
    --heading-color: #E4572E;
    --primary-color: #0C1724;
    --hover-bg: #F4A261;
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Poppins", sans-serif;
    --heading: 34px;
    --heading-font: "Fraunces", serif;
}

::selection {
    background: var(--heading-color);
    color: var(--body-color2);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
}

img {
    display: block;
}

ul,
li a {
    text-decoration: none;
    color: inherit;
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 100%;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    line-height: 100%;
}

a {
    transition: 0.5s ease linear;
}

p {
    padding-bottom: 25px;
    line-height: 30px;
}


*,
*:before,
*:after {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    image-rendering: -webkit-optimize-contrast;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    /* font: inherit; */
    vertical-align: baseline;
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
}

input:not([type='radio']):not([type='checkbox']),
textarea,
select {
    -webkit-appearance: none;
}

form,
label {
    -webkit-text-size-adjust: 100%;
}

mark {
    background-color: transparent;
    color: inherit;
}

/*End Temp Preset */

body {
    font-family: var(--heading-font);
    font-size: 16px;
}

.temp_main {
    padding: 100px 25px;
}


.temp_wrapper {
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
}



.temp_con {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 0 0 20px;
}

.temp_info {
    font-size: 25px;
    margin-bottom: 40px;
    color: #fff;
}

.temp_form {
    max-width: 800px;
    min-height: 300px;
    background: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
    border-radius: 10px;
    margin: 0 auto;
}

.temp_main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #191631c4;
    backdrop-filter: blur(5px);
}


.temp_main {
    background: url(bg.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}





.temp_form {
    max-width: 800px;
    min-height: 100px;
    background: #ffff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
    border-radius: 10px;
    margin: 0 auto;
    padding: 40px;
}


.temp_form h2 {
    padding-bottom: 40px;
    color: #191631;
}

.temp_input_box {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}


.temp_input_box input {
    width: 100%;
    height: 60px;
    border: none;
    border: 2px solid #19163114;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--secondary-font);
    transition: .3s ease;
}

.temp_input_box input:focus {
    outline: 2px solid #191631;
    outline-offset: 3px;
}

.temp_input_box button {
    width: 200px;
    border: none;
    background: #191631;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
    font-family: var(--secondary-font);
}

.temp_input_box button:hover {
    opacity: .8;
}





#resultBox {
    max-width: 800px;
    width: 100%;
    background: #ffff;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px 0px;
    border-radius: 10px;
    padding: 40px;
}

.temp_sec1 {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
    display: none;
}

.temp_sec_con {
    max-width: 50%;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.temp_sec1 h3 {
    font-weight: normal;
    font-family: var(--secondary-font);
    font-size: 16px;
    padding-bottom: 20px;
    color: #191631;
}

.temp_sec1 {
    gap: 50px;
}

.temp_sec_con span {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 18px;
}

#nsList li {
    list-style: none;
    padding-bottom: 10px;
}

.privacy_con {
    text-align: center;
    font-family: var(--secondary-font);
}


.loader {
    transform: rotateZ(45deg);
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: #0C1724;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(45deg);
    display: none;
}

.loader:before,
.loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s spin linear infinite;
}

.loader:after {
    color: #FF3D00;
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotateZ(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotateZ(360deg);
    }
}

@keyframes rotateccw {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

@keyframes spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}